######################################################
# ZXDOS pines
######################################################
# Clocks & debug
NET "CLK50"    LOC = A10 | IOSTANDARD = LVTTL;
NET "CLK50" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

## VGA Connector
NET "VGA_R[0]" LOC = H15  | IOSTANDARD = LVTTL;
NET "VGA_R[1]" LOC = G16  | IOSTANDARD = LVTTL;
NET "VGA_R[2]" LOC = G14  | IOSTANDARD = LVTTL;
NET "VGA_R[3]" LOC = F14  | IOSTANDARD = LVTTL;
NET "VGA_R[4]" LOC = F13  | IOSTANDARD = LVTTL;
NET "VGA_R[5]" LOC = G11  | IOSTANDARD = LVTTL;
NET "VGA_G[0]" LOC = F12  | IOSTANDARD = LVTTL;
NET "VGA_G[1]" LOC = F16  | IOSTANDARD = LVTTL;
NET "VGA_G[2]" LOC = E16  | IOSTANDARD = LVTTL;
NET "VGA_G[3]" LOC = D16  | IOSTANDARD = LVTTL;
NET "VGA_G[4]" LOC = C16  | IOSTANDARD = LVTTL;
NET "VGA_G[5]" LOC = B16  | IOSTANDARD = LVTTL;
NET "VGA_B[0]" LOC = F15  | IOSTANDARD = LVTTL;
NET "VGA_B[1]" LOC = E15  | IOSTANDARD = LVTTL;
NET "VGA_B[2]" LOC = D14  | IOSTANDARD = LVTTL;
NET "VGA_B[3]" LOC = C15  | IOSTANDARD = LVTTL;
NET "VGA_B[4]" LOC = B15  | IOSTANDARD = LVTTL;
NET "VGA_B[5]" LOC = E12  | IOSTANDARD = LVTTL;
NET "VGA_VS"   LOC = H16  | IOSTANDARD = LVTTL;
NET "VGA_HS"   LOC = G12  | IOSTANDARD = LVTTL;

#NET "PS2CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PS2CLK"   LOC = M11  | IOSTANDARD = LVTTL;
NET "PS2DAT"   LOC = P12  | IOSTANDARD = LVTTL;

# audio output (delta-sigma dac)
NET "AUDIO_L"  LOC = H11  | IOSTANDARD = LVTTL;
NET "AUDIO_R"  LOC = H13  | IOSTANDARD = LVTTL;

# SD/MMC
NET "SPI_CS"   LOC= N9  | IOSTANDARD = LVTTL;
NET "SPI_CLK"  LOC= T6  | IOSTANDARD = LVTTL;
NET "SPI_MOSI" LOC= M9  | IOSTANDARD = LVTTL;
NET "SPI_MISO" LOC= T7  | IOSTANDARD = LVTTL;
