# reloj y led de carga
NET "CLOCK_50" LOC="P55" | IOSTANDARD = LVCMOS33;
NET "LED" LOC="P11"  | IOSTANDARD = LVCMOS33;

# Video output
NET "VGA_B<2>" LOC="P93" | IOSTANDARD = LVCMOS33;
NET "VGA_B<1>" LOC="P92" | IOSTANDARD = LVCMOS33;
NET "VGA_B<0>" LOC="P88" | IOSTANDARD = LVCMOS33;

NET "VGA_G<2>" LOC="P84" | IOSTANDARD = LVCMOS33;
NET "VGA_G<1>" LOC="P83" | IOSTANDARD = LVCMOS33;
NET "VGA_G<0>" LOC="P82" | IOSTANDARD = LVCMOS33;

NET "VGA_R<2>" LOC="P81" | IOSTANDARD = LVCMOS33;
NET "VGA_R<1>" LOC="P80" | IOSTANDARD = LVCMOS33;
NET "VGA_R<0>" LOC="P79" | IOSTANDARD = LVCMOS33;

NET "VGA_HS" LOC="P87" | IOSTANDARD = LVCMOS33; # CSYNV en caso video compuesto
NET "VGA_VS" LOC="P85" | IOSTANDARD = LVCMOS33; # no usado si es solo VIDEO
NET "stdn"   LOC="P66" | IOSTANDARD = LVCMOS33; # PAL
NET "stdnb"  LOC="P67" | IOSTANDARD = LVCMOS33; # NTSC


# Sound input/output
NET "AUDIO_L" LOC="P10" | IOSTANDARD = LVCMOS33;
NET "AUDIO_R" LOC="P9" | IOSTANDARD = LVCMOS33;

# EAR: lectura desde cinta
NET "EAR" LOC="P94" | IOSTANDARD = LVCMOS33;

# teclado
NET "ps2_clk"  LOC="P99"   | IOSTANDARD = LVCMOS33 | PULLUP;  
NET "ps2_data" LOC="P98"   | IOSTANDARD = LVCMOS33 | PULLUP; 


# SD/MMC
NET "CONF_DATA0" LOC="P59" | IOSTANDARD = LVCMOS33; # CS/CD o DAT3
NET "SPI_SCK"  LOC="P75" | IOSTANDARD = LVCMOS33; # CLK
NET "SPI_DI" LOC="P74" | IOSTANDARD = LVCMOS33; # MOSI  o CMD
NET "SPI_DO" LOC="P78" | IOSTANDARD = LVCMOS33; # MISO  o DAT0
NET "SPI_SCK" CLOCK_DEDICATED_ROUTE = FALSE;

# PLAY DE CINTAS EN UN PIN EXTERNO PARA PRUEBAS
NET "playbutton" LOC="P58" | IOSTANDARD = LVCMOS33 | PULLDOWN;