#NET "clk50mhz" TNM_NET = clk_ref_grp;
#TIMESPEC TS01 = PERIOD : clk_ref_grp : 20.00ns : PRIORITY 1;   # 50.00 MHz
#SYSTEM_JITTER = 0 ns;
NET "clk50mhz"  LOC="P55" | IOSTANDARD=LVCMOS33 | PERIOD=20ns;

# PIN "XLXI_512/XLXI_579/COUNT_2_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "XLXI_512/XLXI_579/COUNT_1_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
# PIN "XLXI_512/XLXI_221/COUNT_1_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;

# Video output
NET HSYNC 	   LOC="P87" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET VSYNC	   LOC="P85" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;

#NET "stdn" LOC="P66" | IOSTANDARD = LVCMOS33; #NTSC
#NET "stdnb" LOC="P67" | IOSTANDARD = LVCMOS33; #PAL
CONFIG PROHIBIT="P66","P67";

NET RED3(2)   LOC="P81" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET RED3(1)   LOC="P80" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET RED3(0)   LOC="P79" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;

NET GREEN3(2)   LOC="P84" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET GREEN3(1)   LOC="P83" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 
NET GREEN3(0)   LOC="P82" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST; 

NET BLUE3(2)   LOC="P93" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET BLUE3(1)   LOC="P92" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;
NET BLUE3(0)   LOC="P88" | IOSTANDARD=LVCMOS33 | DRIVE=8 | SLEW=FAST;

## Keyboard and mouse
NET "PS2_CLK" LOC="P99"    | IOSTANDARD = LVCMOS33 | PULLUP | SLEW = SLOW | DRIVE = 8;  # pin 1 DIN
NET "PS2_DATA" LOC="P98"   | IOSTANDARD = LVCMOS33 | PULLUP | SLEW = SLOW | DRIVE = 8;  # pin 5 DIN
#mouse PS2-B
#NET "MS_CLK" LOC="P95" | IOSTANDARD = LVCMOS33 | PULLDOWN;  # pin 6 DIN
#NET "MS_DAT" LOC="P97" | IOSTANDARD = LVCMOS33 | PULLDOWN;  # pin 2 DIN
CONFIG PROHIBIT="P95","P97";

#NET "FILE_LOADED" LOC="P11"  | IOSTANDARD = LVCMOS33;
CONFIG PROHIBIT="P11";

# SRAM EXTERNA
#NET "RAM_A<0>"  LOC="P58" | IOSTANDARD = LVCMOS33; //EXT6
#NET "RAM_A<1>"  LOC="P56" | IOSTANDARD = LVCMOS33; //EXT8
#NET "RAM_A<2>"  LOC="P57" | IOSTANDARD = LVCMOS33; //EXT7
#NET "RAM_A<3>"  LOC="P51" | IOSTANDARD = LVCMOS33; //EXT9
#NET "RAM_A<4>"  LOC="P48" | IOSTANDARD = LVCMOS33; //EXT11
#NET "RAM_A<5>"  LOC="P40" | IOSTANDARD = LVCMOS33; //EXT18
#NET "RAM_A<6>"  LOC="P35" | IOSTANDARD = LVCMOS33; //EXT19
#NET "RAM_A<7>"  LOC="P15" | IOSTANDARD = LVCMOS33; //EXT33
#NET "RAM_A<8>"  LOC="P12" | IOSTANDARD = LVCMOS33; //EXT35
#NET "RAM_A<9>"  LOC="P14" | IOSTANDARD = LVCMOS33; //EXT34
#NET "RAM_A<10>" LOC="P16" | IOSTANDARD = LVCMOS33; //EXT32
#NET "RAM_A<11>" LOC="P21" | IOSTANDARD = LVCMOS33; //EXT30
#NET "RAM_A<12>" LOC="P23" | IOSTANDARD = LVCMOS33; //EXT28
#NET "RAM_A<13>" LOC="P22" | IOSTANDARD = LVCMOS33; //EXT29
#NET "RAM_A<14>" LOC="P24" | IOSTANDARD = LVCMOS33; //EXT27
#NET "RAM_A<15>" LOC="P30" | IOSTANDARD = LVCMOS33; //EXT23
#NET "RAM_A<16>" LOC="P33" | IOSTANDARD = LVCMOS33; //EXT21
#NET "RAM_A<17>" LOC="P34" | IOSTANDARD = LVCMOS33; //EXT20
#NET "RAM_A<18>" LOC="P43" | IOSTANDARD = LVCMOS33; //EXT16
#NET "RAM_A<19>" LOC="P17" | IOSTANDARD = LVCMOS33; //EXT31
#NET "RAM_A<20>" LOC="P44" | IOSTANDARD = LVCMOS33; //EXT15
#
#NET "RAM_D<0>" LOC="P50" | IOSTANDARD = LVCMOS33; //EXT10
#NET "RAM_D<1>" LOC="P47" | IOSTANDARD = LVCMOS33; //EXT12
#NET "RAM_D<2>" LOC="P45" | IOSTANDARD = LVCMOS33; //EXT14
#NET "RAM_D<3>" LOC="P46" | IOSTANDARD = LVCMOS33; //EXT13
#NET "RAM_D<4>" LOC="P27" | IOSTANDARD = LVCMOS33; //EXT25
#NET "RAM_D<5>" LOC="P26" | IOSTANDARD = LVCMOS33; //EXT26
#NET "RAM_D<6>" LOC="P29" | IOSTANDARD = LVCMOS33; //EXT24
#NET "RAM_D<7>" LOC="P32" | IOSTANDARD = LVCMOS33; //EXT22
#
#NET "ram_W_n" LOC="P41" | IOSTANDARD = LVCMOS33; //EXT17

CONFIG PROHIBIT="P58","P56","P57","P51","P48","P40","P35","P15","P12","P14","P16","P21","P23","P22","P24","P30","P33","P34","P43","P17","P44";
CONFIG PROHIBIT="P50","P47","P45","P46","P27","P26","P29","P32";
CONFIG PROHIBIT="P41";

#
## SRAM
NET "RAM_A<0>"  LOC="P141" | IOSTANDARD = LVCMOS33;
NET "RAM_A<1>"  LOC="P139" | IOSTANDARD = LVCMOS33;
NET "RAM_A<2>"  LOC="P137" | IOSTANDARD = LVCMOS33;
NET "RAM_A<3>"  LOC="P134" | IOSTANDARD = LVCMOS33;
NET "RAM_A<4>"  LOC="P133" | IOSTANDARD = LVCMOS33;
NET "RAM_A<5>"  LOC="P120" | IOSTANDARD = LVCMOS33;
NET "RAM_A<6>"  LOC="P118" | IOSTANDARD = LVCMOS33;
NET "RAM_A<7>"  LOC="P116" | IOSTANDARD = LVCMOS33;
NET "RAM_A<8>"  LOC="P114" | IOSTANDARD = LVCMOS33;
NET "RAM_A<9>"  LOC="P112" | IOSTANDARD = LVCMOS33;
NET "RAM_A<10>" LOC="P104" | IOSTANDARD = LVCMOS33;
NET "RAM_A<11>" LOC="P102" | IOSTANDARD = LVCMOS33;
NET "RAM_A<12>" LOC="P101" | IOSTANDARD = LVCMOS33;
NET "RAM_A<13>" LOC="P100" | IOSTANDARD = LVCMOS33;
NET "RAM_A<14>" LOC="P111" | IOSTANDARD = LVCMOS33;
NET "RAM_A<15>" LOC="P131" | IOSTANDARD = LVCMOS33;
NET "RAM_A<16>" LOC="P138" | IOSTANDARD = LVCMOS33;
NET "RAM_A<17>" LOC="P140" | IOSTANDARD = LVCMOS33;
NET "RAM_A<18>" LOC="P142" | IOSTANDARD = LVCMOS33;
NET "RAM_A<19>" LOC="P105" | IOSTANDARD = LVCMOS33;
NET "RAM_A<20>" LOC="P143" | IOSTANDARD = LVCMOS33;

NET "RAM_D<0>" LOC="P132" | IOSTANDARD = LVCMOS33;
NET "RAM_D<1>" LOC="P127" | IOSTANDARD = LVCMOS33;
NET "RAM_D<2>" LOC="P124" | IOSTANDARD = LVCMOS33;
NET "RAM_D<3>" LOC="P123" | IOSTANDARD = LVCMOS33;
NET "RAM_D<4>" LOC="P115" | IOSTANDARD = LVCMOS33;
NET "RAM_D<5>" LOC="P117" | IOSTANDARD = LVCMOS33;
NET "RAM_D<6>" LOC="P119" | IOSTANDARD = LVCMOS33;
NET "RAM_D<7>" LOC="P126" | IOSTANDARD = LVCMOS33;

NET "ram_W_n"  LOC="P121" | IOSTANDARD = LVCMOS33;

#CONFIG PROHIBIT="P141","P139","P137","P134","P133","P120","P118","P116","P114","P112","P104","P102","P101","P100","P111","P131","P138","P140","P142","P105","P143";
#CONFIG PROHIBIT="P132","P127","P124","P123","P115","P117","P119","P126";
#CONFIG PROHIBIT="P121";

# Sound input/output
NET "AUDIO_L" LOC="P10" | IOSTANDARD = LVCMOS33;
NET "AUDIO_R" LOC="P9"  | IOSTANDARD = LVCMOS33;
#NET "ear" LOC="P94" | IOSTANDARD = LVCMOS33;
CONFIG PROHIBIT="P94";

# SPI Flash
#NET "flash_cs_n" LOC="P38" | IOSTANDARD = LVCMOS33;
#NET "flash_clk"  LOC="P70" | IOSTANDARD = LVCMOS33;
#NET "flash_mosi" LOC="P64" | IOSTANDARD = LVCMOS33;
#NET "flash_miso" LOC="P65" | IOSTANDARD = LVCMOS33;
CONFIG PROHIBIT="P38","P70","P64","P65";

## SD/MMC
NET "SS_n" LOC="P59"  | IOSTANDARD = LVCMOS33 ;# | PULLUP;
NET "SCLK" LOC="P75"  | IOSTANDARD = LVCMOS33 ;# | PULLUP;
NET "MOSI" LOC="P74"  | IOSTANDARD = LVCMOS33 ;# | PULLUP;
NET "MISO" LOC="P78"  | IOSTANDARD = LVCMOS33 ;# | PULLUP;

## JOYSTICK
NET "JOYSTICK1<0>" LOC="P1"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY6 P_U
NET "JOYSTICK1<1>" LOC="P5"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY4 P_D
NET "JOYSTICK1<2>" LOC="P6"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY3 P_L
NET "JOYSTICK1<3>" LOC="P7"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY2 P_R
NET "JOYSTICK1<4>" LOC="P2"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY7 P_tr
NET "JOYSTICK1<5>" LOC="P8"  | IOSTANDARD = LVCMOS33 | PULLUP;  #JOY5 P_A
NET "JOYSTICK1<6>" LOC="P39" | IOSTANDARD = LVCMOS33 | PULLUP;  #3ème bouton
#CONFIG PROHIBIT="P1","P5","P6","P7","P2","P8";
