NET "CLK_50MHZ" LOC = A10;
NET "CLK_50MHZ" IOSTANDARD = LVCMOS33;
NET "CLK_50MHZ" CLOCK_DEDICATED_ROUTE = TRUE;

NET "VGA_R[0]" LOC = F14;
NET "VGA_R[0]" IOSTANDARD = LVCMOS33;
NET "VGA_R[1]" LOC = F13;
NET "VGA_R[1]" IOSTANDARD = LVCMOS33;
NET "VGA_R[2]" LOC = G11;
NET "VGA_R[2]" IOSTANDARD = LVCMOS33;
NET "VGA_G[0]" LOC = D16;
NET "VGA_G[0]" IOSTANDARD = LVCMOS33;
NET "VGA_G[1]" LOC = C16;
NET "VGA_G[1]" IOSTANDARD = LVCMOS33;
NET "VGA_G[2]" LOC = B16;
NET "VGA_G[2]" IOSTANDARD = LVCMOS33;
NET "VGA_B[0]" LOC = C15;
NET "VGA_B[0]" IOSTANDARD = LVCMOS33;
NET "VGA_B[1]" LOC = B15;
NET "VGA_B[1]" IOSTANDARD = LVCMOS33;
NET "VGA_B[2]" LOC = E12;
NET "VGA_B[2]" IOSTANDARD = LVCMOS33;

NET "VGA_VSYNC" LOC = H16;
NET "VGA_VSYNC" IOSTANDARD = LVCMOS33;
NET "VGA_HSYNC" LOC = G12;
NET "VGA_HSYNC" IOSTANDARD = LVCMOS33;

NET "AUDIO_L" LOC = H11;
NET "AUDIO_L" IOSTANDARD = LVCMOS33;
NET "AUDIO_R" LOC = H13;
NET "AUDIO_R" IOSTANDARD = LVCMOS33;

NET "SRAM_A<0>"  LOC="H14" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<1>"  LOC="J16" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<2>"  LOC="J11" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<3>"  LOC="J13" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<4>"  LOC="K16" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<5>"  LOC="K11" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<6>"  LOC="L12" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<7>"  LOC="M13" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<8>"  LOC="M15" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<9>"  LOC="N14" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<10>" LOC="L14" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<11>" LOC="M14" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<12>" LOC="K14" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<13>" LOC="L13" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<14>" LOC="J12" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<15>" LOC="T14" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<16>" LOC="T15" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<17>" LOC="R14" | IOSTANDARD = LVCMOS33;
NET "SRAM_A<18>" LOC="R16" | IOSTANDARD = LVCMOS33;

NET "SRAM_D<0>" LOC="K15" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<1>" LOC="N16" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<2>" LOC="L16" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<3>" LOC="K12" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<4>" LOC="J14" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<5>" LOC="P15" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<6>" LOC="P16" | IOSTANDARD = LVCMOS33;
NET "SRAM_D<7>" LOC="R15" | IOSTANDARD = LVCMOS33;

NET "SRAM_WE_n"  LOC="M16" | IOSTANDARD=LVCMOS33 | SLEW=FAST;

# SRAM 2
NET "ram2_addr_o<0>"    LOC="B14"  | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<1>"    LOC="A13"  | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<2>"    LOC="A12"  | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<3>"    LOC="A11"  | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<4>"    LOC="A9"   | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<5>"    LOC="N6"   | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<6>"    LOC="P6"   | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<7>"    LOC="L7"   | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<8>"    LOC="T4"   | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<9>"    LOC="R5"   | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<10>"   LOC="L8"   | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<11>"   LOC="M7"   | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<12>"   LOC="L10"  | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<13>"   LOC="D6"   | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<14>"   LOC="F7"   | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<15>"   LOC="B10"  | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<16>"   LOC="C11"  | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<17>"   LOC="C13"  | IOSTANDARD = LVCMOS33;
NET "ram2_addr_o<18>"   LOC="B12"  | IOSTANDARD = LVCMOS33;
NET "ram2_data_io<0>"    LOC="A8"   | IOSTANDARD = LVCMOS33;
NET "ram2_data_io<1>"    LOC="A7"   | IOSTANDARD = LVCMOS33;
NET "ram2_data_io<2>"    LOC="C6"   | IOSTANDARD = LVCMOS33;
NET "ram2_data_io<3>"    LOC="R9"   | IOSTANDARD = LVCMOS33;
NET "ram2_data_io<4>"    LOC="N8"   | IOSTANDARD = LVCMOS33;
NET "ram2_data_io<5>"    LOC="P9"   | IOSTANDARD = LVCMOS33;
NET "ram2_data_io<6>"    LOC="B8"   | IOSTANDARD = LVCMOS33;
NET "ram2_data_io<7>"    LOC="C9"   | IOSTANDARD = LVCMOS33;
NET "ram2_we_n_o"       LOC="T9"  | IOSTANDARD = LVCMOS33 | SLEW = FAST;


NET "PS2CLKA" LOC = M11;
NET "PS2CLKA" IOSTANDARD = LVCMOS33;
NET "PS2CLKA" PULLUP;
NET "PS2DATA" LOC = P12;
NET "PS2DATA" IOSTANDARD = LVCMOS33;
NET "PS2DATA" PULLUP;
NET "PS2CLKB" LOC = M10;
NET "PS2CLKB" IOSTANDARD = LVCMOS33;
NET "PS2CLKB" PULLUP;
NET "PS2DATB" LOC = P11;
NET "PS2DATB" IOSTANDARD = LVCMOS33;
NET "PS2DATB" PULLUP;


NET "SD_DI" LOC = M9;
NET "SD_DI" IOSTANDARD = LVCMOS33;
NET "SD_DI" DRIVE = 8;
NET "SD_DI" SLEW = FAST;
NET "SD_DO" LOC = T7;
NET "SD_DO" IOSTANDARD = LVCMOS33;
NET "SD_DO" DRIVE = 8;
NET "SD_DO" SLEW = FAST;
NET "SD_CK" LOC = T6;
NET "SD_CK" IOSTANDARD = LVCMOS33;
NET "SD_CK" DRIVE = 8;
NET "SD_CK" SLEW = FAST;
NET "SD_nCS" LOC = N9;
NET "SD_nCS" IOSTANDARD = LVCMOS33;
NET "SD_nCS" DRIVE = 8;
NET "SD_nCS" SLEW = FAST;

